{% extends 'layouts/base_page.html' %}

{% load static %}

{% block content %}
<!-- Question -->
<div class="container-fluid mt-3 mb-3 pb-4 border-bottom">
    <div class="row">
        <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex" style="transform: rotate(0);">
                <img src="{% static '/img/user_picture.png' %}" height="80" class="rounded " alt="user picture">
                <a class="card-link stretched-link fs-2 px-1 link-underline link-underline-opacity-0"
                    href="#">Bobo_3000</a>
            </div>
            <div class="d-flex align-items-baseline m-sm-0 mt-2">
                <button class="btn btn-outline-success"><img src="{% static '/img/upvote.png' %}" height="23"
                        alt=""></button>
                <p class="card-text fs-3 text-success px-1">+40</p>
                <button class="btn btn-outline-danger"><img src="{% static '/img/downvote.png' %}" height="23"
                        alt=""></button>
            </div>
        </div>
    </div>
    <div class="row w-100 card-body mt-3">
        <div class="container mb-3">
            <h5 class="fs-3">{{ question.title }}</h5>
            <p>{{ question.content }}</p>
        </div>
        <span class="card-text d-flex ">
            <span class="container ps-0">
                <span class="text-body-secondary">tags:</span>
                {% for tag_item in question.tags %}

                {% include 'components/tag.html' %}

                {% endfor %}
            </span>
        </span>
    </div>
</div>

<div class="d-flex align-items-center justify-content-between mb-2">
    <div class="fs-3">Answers ({{ question.answers|length }})</div>
    <div class="dropdown">
        <button class="dropdown-toggle border-0 btn fs-3 " type="button" data-bs-toggle="dropdown">best</button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li class="dropdown-item">best</li>
            <li class="dropdown-item">new</li>
        </ul>
    </div>
</div>
<!-- Answers -->
<div class="vstack gap-2">
   
    {% for answer in question.answers %}

    {% include 'components/answer.html' %}

    {% endfor %}

</div>

<!-- TODO pagination -->
<nav class="row mx-auto mt-3" aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<div class="container-fluid mt-3">
    <label for="answerTextField" class="form-label fs-3">Enter your answer:</label>
    <div class="d-flex flex-column">
        <textarea class="form-control" id="answerTextField" rows="3"></textarea>
        <button type="submit" class="btn btn btn-primary mt-3">Submit</button>
    </div>
</div>
{% endblock %}