{% extends 'layouts/base_page.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<div class="fs-2 fw-bold mb-3 mt-2 border-bottom">Settings: {{ user.username }}</div>

<form method="post" onchange="enable_button()" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}
    
    <div class="d-grid">
        <button class="btn btn-primary mt-3" id="save_changes" type="submit">Save changes</button>
    </div>
</form>

<script>
    const save_changes_btn = document.getElementById("save_changes");
    save_changes_btn.disabled = true;

    function enable_button() {
        save_changes_btn.disabled = false;
    }

</script>

{% endblock %}