{% extends 'layouts/base_page.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<div class="fs-2 fw-bold mb-3 mt-4 border-bottom">Sign Up</div>
<form method="post" novalidate>
    {% csrf_token %}
    {% bootstrap_form form %}
    
    <div class="d-grid">
        <button class="btn btn-primary mt-3" type="submit">Sign Up!</button>
    </div>
</form>
<a href="{% url 'log_in' %}" class="link-underline link-underline-opacity-0 mt-2">Already have an account</a>

{% endblock %}