{% load static %}

<div class="card">
    <div class="row mx-1 mt-2">
        <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex" style="transform: rotate(0);">
                <img src="{% static '/img/user_picture.png' %}" height="56" class="rounded " alt="user picture">
                <a class="card-link stretched-link fs-4 px-1 link-underline link-underline-opacity-0"
                    href="#">Bobo_3000</a>
            </div>
            <div class="d-flex align-items-baseline m-sm-0 mt-2">
                <button class="btn btn-outline-success"><img src="{% static '/img/upvote.png' %}" height="23"
                        alt=""></button>
                <p class="card-text fs-3 text-success px-1">+40</p>
                <button class="btn btn-outline-danger"><img src="{% static '/img/downvote.png' %}" height="23"
                        alt=""></button>
            </div>
        </div>
    </div>
    <div class="row w-100 card-body">
        <div class="mb-3" style="transform: rotate(0);">
            <a href="#" class="stretched-link link-underline link-underline-opacity-0 link-dark">
                <h5 class="card-title">{{question.title}}</h5>
            </a>
            <p class="card-text">{{question.content}}</p>
        </div>
        <span class="card-text d-flex ">
            <span class="container ps-0">
                <span class="text-body-secondary">tags:</span>
                <a href="#"><span class="badge fs-6 my-1 bg-danger">Google</span></a>
                <a href="#"><span class="badge fs-6 my-1 bg-danger">Languages</span></a>
                <a href="#"><span class="badge fs-6 my-1 bg-warning">Law</span></a>
            </span>
            <a href="#" class="link-underline link-underline-opacity-0">
                answers(4)
            </a>
        </span>
    </div>
</div>